body {
  margin: 0;
  padding: 0;
  font-family: Almarai;
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
a {
  display: block;
}
ul {
  margin: 0;
  margin-inline: unset;
  padding: 0;
  list-style: none;
}
.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}

.ps-menu-icon {
  width: unset !important;
  min-width: unset !important;
  justify-content: start !important;
  margin: 0 !important;
}
.ps-menu-button,
.ps-menu-icon {
  height: unset !important;
}
.ps-menu-button:hover {
  background-color: unset !important;
}
.ps-sidebar-container,
.ps-submenu-content {
  background-color: transparent !important;
}
.ps-collapsed .ps-menu-icon {
  min-width: 100% !important;
  justify-content: center !important;
}
.ps-collapsed {
  width: 80px !important;
}
.ps-sidebar-container,
.ps-menu-root,
.ps-menu-root > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ps-collapsed,
.ps-collapsed .ps-menu-root,
.ps-collapsed .ps-menu-button {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: unset !important;
  margin-right: unset !important;
}
.ps-collapsed ul {
  align-items: center;
}
.ps-menu-label {
  display: flex;
  align-items: center;
}

/* Destopuser info and dropdown start*/

.desktop-user {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  transition: background-color 0.3s; /* Add transition for smooth effect */
}

.desktop-user:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  background-color: white;
  border: 1px solid #000000;
  z-index: 100;
  min-width: 270px; /* Increase the width here */
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px;
  text-align: center;
}

.user-photo,
.user-photo-dropdown {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.arrow-container {
  margin-left: 10px;
}

.arrow-icon {
  height: 8px;
}

.user-details {
  display: flex;
  align-items: center;
  margin: 10px 15px;
}

.user-photo-dropdown {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  margin-right: 10px; /* Reduced margin-right */
}

.user-text {
  display: flex;
  flex-direction: column;
  padding-left: 10px; /* Reduced padding-left */
}

.user-email {
  color: #999999 !important;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user-name {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #F0F0F0;
}

/* Keep arrow visible */
.arrow-icon.hidden {
  display: block;
}

.dropdownItem-container {
  display: flex;
  align-items: center;
  margin: 10px 15px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.dropdownItem-container:hover {
  background-color: #1099E1;
}

.dropdownItem-icon {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  transition: fill 0.3s;
}

.dropdownItem-container:hover .dropdownItem-icon svg path {
  fill: white;
}

.dropdownItem-text {
  color: #000;
  transition: color 0.3s;
}

.dropdownItem-container:hover .dropdownItem-text {
  color: white;
}


/* Destopuser info and dropdown  end*/

.grid {
  max-width: 1200px !important; /* Change the max-width to your desired value */
}

.hover\:shadow-md:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.hover\:border-blue-500:hover {
  border-color: #4299e1;
}


.hovered {
  transform: scale(1.045);
  transition: transform 0.5s ease;

}

.popup {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

/* Define the transition for opacity */
.popup-inner .grid .relative div:hover .w-full.h-full {
  opacity: 0.8; /* Adjust the opacity value as needed */
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-overlay.active {
  display: flex;
}


.popup.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.3s;
}
/* Existing styles */
.popup-inner {
  background-color: white;
  padding:30px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%; /* Set to 100% to match parent width */
  height: 100%; /* Set to 100% to match parent height */
  max-width: 1000px; /* Optionally, set a max-width to avoid overly large popups */
  max-height: 1000px; /* Optionally, set a max-height to avoid overly large popups */
  position: relative; /* Position relative to contain absolute positioned close button */
  text-align: center; /* Center align the text */

}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}
/* Image grid styles */
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 5px; /* Further reduced gap between grid items */
  border: 2px solid #e0e0e0; /* Border around the entire grid */
  padding: 10px; /* Further reduced padding around the grid */
  position: relative;
  margin-top: 20px;
}

/* Image item styles */
.image-item {
  position: relative; /* Ensure relative positioning for child elements */
  transition: transform 0.3s ease-in-out;
  text-align: center;
  padding: 45px 45px; /* Top, Right, Bottom, Left */
  cursor: pointer;
}

.image-item:hover {
  transform: translateY(-10px); /* Move the image item upward by 10px on hover */
}

/* Image styles */
.image-item img {
  max-width: auto; /* Further reduced max width */
  max-height: auto; /* Further reduced max height */
  width: auto;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
}

/* Description text styles */
.image-item p {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
}

.image-item:hover p {
  display: block;
}

.image-element {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  margin-top: 10px;
  margin-bottom: 15px;
}

.image-item:hover .image-element {
  opacity: 1;
}

/* Divider styles */
.image-grid::before,
.image-grid::after {
  content: "";
  position: absolute;
  background-color: #e0e0e0;
}

/* Vertical divider */
.image-grid::before {
  top: 0;
  bottom: 0;
  right: calc(50% - 1px); /* Adjusted position */
  width: 2px;
}

/* Horizontal divider */
.image-grid::after {
  left: 0;
  right: 0;
  bottom: calc(50% - 1px); /* Adjusted position */
  height: 2px;
}

/* Positioning for each grid item */
.image-item:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.image-item:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.image-item:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}

.image-item:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.label {
  position: absolute;
  bottom: 5px; /* Adjusted to sit above the image border */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 4px;
  z-index: 1;
  max-width: calc(100% - 20px); /* Limiting the width to be within the image grid bounds */
  overflow: hidden; /* Hide overflow text */
  white-space: normal; /* Allow text to wrap */
}

.label .text-wrapper {
  color: #919191;
  font-family: "Lama Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  overflow: hidden; /* Hide overflowing text */
  white-space: normal; /* Allow text to wrap */
  line-height: 1.4; /* Set line height to improve readability */
  max-height: 2.8em; /* Set max height to fit two lines considering line height */
}

input {
  background-color: transparent;
  width: 100%;
}
input:focus {
  outline: none;
}
/* Additional styling can be added as needed */


.custom-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition for smooth color change */
}

.custom-button:hover {
  background-color: darkblue; /* Change color on hover */
}



.login-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 1.125rem; /* Adjust as needed */
  font-weight: 700;
  background-color: #3b82f6;
  border-radius: 20px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  padding-left: 35px; /* Adjust as needed */
  padding-right: 35px; /* Adjust as needed */
}


.login-button:hover {

  background-color: #ffff;
  color: #000000;
  border: 1px solid #000000;
}


.text-registration {
  color: #005f8f;
  font-family: "Lama Sans-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;

  
  }
  .text-registration:hover {
  color: #009ae9;
  }


  .text-confirmation {
    font-family: "Lama Sans-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;

  }